.t-history {
  border: 1px solid #000;
}

tr:nth-of-type(even) {
  background-color: #ebebeb;
}

.t-history-cell {
  text-align: center;
  padding: 0.5rem 1rem;
}

tr.t-highlight {
  background-color: #fdfdd0;
}

.t-history-head {
  border-bottom: 1px solid black;
  background-color: #ebebeb;
}

.save-game-form {
  margin: 1rem;
}

.save-game-form-item {
  margin: 0.5rem;
}
